body {
  background-color: #161616;
  color: #FFF;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  line-height: 15pt;
}

.container {
  width: 30%;
  margin: 100px auto 0 auto;
}

h1 {
  color: #da4302;
  margin-bottom: 30px;
}

dt {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.argument {
  font-weight: 300;
  font-style: italic;
  display: inline-block;
  margin-left: 5px;
}

dd {
  margin-bottom: 20px;
  font-size: 12px;
}

.points {
  font-style: italic;
}
